<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="TimeTable.Properties.Settings.TimatableConnectionString"
      connectionString="server=localhost;user id=root;database=student"
      providerName="MySql.Data.MySqlClient" />
    <add name="TimeTable.Properties.Settings.TimeConnectionString"
      connectionString="Data Source=(localdb)\NipunDB;Initial Catalog=Time;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="provider" value="System.Data.SqlClient"/>
    <add key="connectionString" value="Data Source=(localdb)\NipunDB;Initial Catalog=Time;Integrated Security=True"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
